* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-family: "Press Start 2P", cursive;
  --color-primary: rgb(138, 132, 132);
  --color-secondary: white;
}

.container {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
  position: relative;
  background: linear-gradient(to right, white 0%, white 22%, black 22%, black 78%, white 78%, white 100%);
}

.menu_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  color: #fff;
  background: white;
  z-index: 100;
  transform: translateX(110%);
  transition: transform 0.5s ease;
}

.menu_overlay .fas {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.menu_overlay .fas:hover {
  color: #f10b0b;
  transform: scale(1.1) rotate(180deg);
}

.menu_overlay a {
  color: #fff;
  text-decoration: none;
}

.menu_overlay a:hover {
  color: #f10b0b;
}

#menuBtn {
  display: none;
}

#menuBtn:checked ~ .menu_overlay {
  transform: translateX(0);
}

.landing_page {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu {
  position: absolute;
  right: 20px;
  top: 20px;
}

.fas {
  font-size: 2rem;
  color: #222;
}

.fas:hover {
  color: #f10b0b;
}

.side_text {
  height: 10vh;
  width: 60%;
  color: #c94b4b;
  position: absolute;
  left: 0;
  bottom: 20px;
  text-shadow: 0 0 1px #111;
  padding: 10px;
  font-size: 16px;
  color: #4b134f;
}

.main_text {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1px #111;
  display: flex;
  flex-direction: column;
}

.h2-l {
  font-size: 4rem;
  margin-left: 100px;
  background-color: black;
  margin-top: -120px;
  padding: 200px;
  z-index: 0;
}

@media screen and (max-width: 650px) {
  .list a {
    font-size: 2rem;
  }
}

.fullscreen-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 199vh;
  z-index: 1;
}

@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    transform: scale(1);
  }
  12%, 87% {
    transform: scale(1.03) rotate(2deg);
  }
  37%, 62% {
    transform: scale(1.03) rotate(-2deg);
  }
}

.fullscreen-menu .menu-item {
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  transition: margin-left ease-in 2s;
  
}

.fullscreen-menu .menu-item > a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fullscreen-menu .menu-item > a > span {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  height: 20%;
  margin-left: 120px;
  
  font-size: 60px;
  
  color: var(--color-primary);
}

.menu-item:not(:hover) {
  
  height: 33.33vh;
  margin-bottom: 1vh;
  width: 90%;
  margin-left: auto;
}


.menu-item:hover {

  height: auto;
  
  width: 100%;
  
  border-bottom: 1px solid #ddd;
}

.menu-item:hover a span {
  color: var(--color-secondary);
  
}

.fullscreen-menu .menu-item > a > img {
  flex-shrink: 0;
  height: 100%;
  margin-left: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out, width 2s ease infinite;
  max-height: 100%;
  width: 200px;
  height: 300px;
  animation: bounce 2s ease infinite;
}

.menu-item:hover a img {
  width: 400px;
  height: 600px;
  opacity: 1;
}
